h2{
  color: white;
}
h1{
  color: white;
}
h3 {
  color: white;
}
p{ color: white;
}
.landing-section{
    background-image: url('object.png');
}
.span-landing{
  color: white;
}
blockquote{
  color: white;
}
